.Library {
  flex-grow: 1;
  overflow-y: auto;
}

.Library_inner {
  padding: 20px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  gap: 10px;
}

.Library_block {
  aspect-ratio: 1 / 1;
}
