.RootRoute_big_button {
  aspect-ratio: 1 / 1;
  width: 200px;
  border: 1px solid black;
  padding: 20px;
  background: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.RootRoute_big_button_create_example {
  border: none;
  background: var(--success-border, #318a09);
  color: white;
}
