:root {
  --mono-font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* See https://css-tricks.com/box-sizing/ for why */
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}

code {
  font-family: var(--mono-font-family);
}

#root {
  height: 100%;
  width: 100%;
}
