.SubHeader {
  flex-shrink: 0;
  height: 60px;
  padding: 0px 10px;
  border-bottom: 1px solid var(--border, #ececf1);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.SubHeader_left {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-right: 20px;
}

.SubHeader_right {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SubHeader_space_name_container {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
  max-width: 500px;
}

.SubHeader_space_name_input {
  width: 500px;
}

.SubHeader_space_name {
  font-size: 16px;
  font-weight: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 13px;
}

.SubHeader_button {
  background: none;
  border: none;
  height: 50px;
  width: 50px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.SubHeader_button-icon {
  height: 35px;
  width: 35px;
}
