.Workspace {
  /*
  Prevent this element from blowing out the container due to its content taking
  up more space. We need to make sure our root container maintain 100% height
  of viewport.
  */
  min-height: 0;

  /*
  There is a weird issue regarding to the calculation of min-content and
  scrollbar width. Without applying a height (or flex-basis), min-content will
  be calculated before including the scrollbar's width. Setting flex-basis other
  than "auto" will include the scrollbar's width in min-content.

  However, we are not doing it here since adding scrollbar's width will change
  the layout on the fly, make the UI felt unstable.
  */
  flex: 1 1 auto;

  padding: 0 20px;
  display: grid;
  --editor-min-width: 240px;
  grid-template-columns:
    /* library */
    minmax(min-content, 1fr)
    /* separator */
    1px
    /* simulator */
    min-content
    /* editor */
    minmax(var(--editor-min-width), 1fr);

  /*
  Because the minimum width of a grid column, row as well as flex item is
  auto, which is the content's length.
  So setting the min length is very important to prevent content blowing
  out of the grid cell.

  https://css-tricks.com/preventing-a-grid-blowout/
  */
  grid-template-rows: minmax(0, 1fr);
}

.Border {
  width: 1px;
  background: #c5c5d2;
  margin: 20px 0;
}
