.BlockGroupComponent {
}

.BlockGroupComponent__not_root {
  padding: 15px 15px 8px 15px;
  border-radius: 10px;
  border: 2px solid #00b3ff;
}

.BlockGroupComponent_title {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 3px;
}

.BlockGroupComponent_blocks {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: flex-start;
}
