.RouteSpaceV2 {
  flex-grow: 1;
  display: flex;
}

/* Group */

.RouteSpaceV2_group {
  padding: 15px 15px 8px 15px;
  border-radius: 10px;
  border: 2px solid #00b3ff;
}

.RouteSpaceV2_group_title {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 3px;
}

.RouteSpaceV2_group_blocks {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: flex-start;
}

/* Block */

.RouteSpaceV2_block {
  display: flex;
  padding: 10px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 5px;
  border: 1px solid var(--border-darker, #c5c5d2);
}

.RouteSpaceV2_block_input,
.RouteSpaceV2_block_output {
  width: 250px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 5px;
  align-items: center;
}

.RouteSpaceV2_block_input {
  justify-content: end;
}

.RouteSpaceV2_block_output {
  justify-content: start;
}

.RouteSpaceV2_block_variable_scope_name,
.RouteSpaceV2_block_variable_argument_name {
  display: flex;
  padding: 5px 10px;
  align-items: center;
  border-radius: 25px;
  font-family: Menlo;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
}

.RouteSpaceV2_block_variable_scope_name {
  color: #00b3ff;
  border: 1px solid #00b3ff;
  justify-self: flex-end;
}

.RouteSpaceV2_block_variable_argument_name {
  background: #00b3ff;
  color: #fff;
  justify-self: flex-start;
}

.RouteSpaceV2_block_arrow_icon {
  width: 20px;
  height: 20px;
  fill: #00b3ff;
}

.RouteSpaceV2_block_code {
  width: 300px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--border-darker, #c5c5d2);
}

.RouteSpaceV2_block_code > pre {
  margin: 0;
}

.RouteSpaceV2_gutter {
  height: 4px;
  align-self: stretch;
  border-radius: 5px;
}

.RouteSpaceV2_gutter_over {
  background: #00b3ff;
}
