.SpaceV2SubHeader {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-bottom: 1px solid var(--border, #ececf1);
  flex-shrink: 0;
}

.SpaceV2SubHeader_left {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
